@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* Add this to your CSS file */
.glow {
  transition: box-shadow 0.3s ease-in-out;
}

input[type='radio']:checked + label {
  box-shadow: 0 0 15px #2E3A59; /* Yellow glow for example */
}

.hover-trigger:hover {
  opacity: 1;
}
.viewLink {
  opacity: 0;
  transition: opacity 0.3s ease;
  
  white-space: nowrap;
}

.tableRow:hover .viewLink {
  opacity: 1;
}
.tableRow:hover {
  background-color: #f1f1f1; /* Or any other color you want for hover */
}

.tableRow:hover .viewLink {
  opacity: 1;
}

.viewLink {
  opacity: 0;
  transition: opacity 0.3s ease;
  cursor: pointer;
  text-align: center;
}


.cellWithView {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr)); /* Adjust the minmax values based on the desired size of the squares */
  gap: 10px; /* Adjust the gap between squares */
  padding: 10px;
}

.grid-item {
  background: white;
  border: 1px solid #ccc; /* Optional, adds a border around each square */
  border-radius: 8px; /* Optional, rounds the corners of the squares */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.image {
  width: 100%;
  height: auto;
}

.caption {
  text-align: center;
  font-weight: bold;
}

.grid-item {
  display: flex;
  flex-direction: column;
  background: white;
  border: 2px solid #e5e7eb; 
  border-radius: 0.5rem; 
}

.aspect-square {
  aspect-ratio: 1 / 1; 
}