@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* Add this to your CSS file */
.glow {
  transition: box-shadow 0.3s ease-in-out;
}

input[type='radio']:checked + label {
  box-shadow: 0 0 15px #2E3A59; /* Yellow glow for example */
}

.hover-trigger:hover {
  opacity: 1;
}
.viewLink {
  opacity: 0;
  transition: opacity 0.3s ease;
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  white-space: nowrap;
}

.tableRow:hover .viewLink {
  opacity: 1;
}
.tableRow:hover {
  background-color: #f1f1f1; /* Or any other color you want for hover */
}

.tableRow:hover .viewLink {
  opacity: 1;
}

.viewLink {
  opacity: 0;
  transition: opacity 0.3s ease;
  cursor: pointer;
  text-align: center;
}


.cellWithView {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}